.column {
    &.has-vertically-aligned-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &.is-bordered {
        border-left: 1px solid $grey;
    }
}

