.image-slider {
    .active-image, .next-image {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: opacity 1.5s ease;
    }
    .active-image {
        opacity: 0.5;
    }
    .next-image {
        opacity: 0;
    }
}