.image-slider {
    opacity: 0;
    transition: opacity 1.5s ease;

    &--active {
        opacity: 1;
    }

    img {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        opacity: 0;
        object-fit: cover;

        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: opacity 1.5s ease;
    }
    .active-image {
        opacity: 0.4;
    }
}