.main-logo {
    vertical-align: bottom;
    max-height: 90px;
    &-title {
        display: inline-block;
        font-size: 3.2rem;
        line-height: 1.4;
    }
    &-container {
        margin-bottom: 0.6rem;
    }
}