// Layout
$containerWidth: 1200px;
$smallBP: 500px;
$mediumBP: 750px;
$largeBP: 1200px;
$black: #212121;
$white: #ffffff;
$offWhite: #E0E0E0;
$lightGrey: #BDBDBD;
$grey: #78909C;
$darkGrey: #546E7A;
$blue: #295293;
$turquoise: #336799;
$red: #EF9868;
$yellow: #f5bb52;
$primary: $blue;
$info: $turquoise;
$success: $yellow;
$family-sans-serif: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$title-weight: normal;
